  #particles-js{
    /*width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url('../img/welcome1.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    margin-top: -10px;
*/

    width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('../img/welcome1.jpg') ;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed; 
  }
  
  #welcome {
      position: relative;
      margin: auto;
      top: 200px;
      color: #ecf0f1;
  }


  a{
  	cursor: pointer;
  }
  #home-header
  {
  	background-image: url('../img/header.jpg');
  	background-size: cover;
  	border-radius: 0px;

  }
  #home-header h3
  {
  	color: white;
  }
