<div id="particles-js"></div>  

<div class="container" id="welcome">

        <div class="row">
          <div class="col-lg-12">
            <!-- <div><img class="logo" src="assets/img/logo.png"></div> -->
            <h1 class="text-center text-capitalize">REVIEW TIME</h1>
            <br>
            <div class="row text-center">
              <div class="col-md-12">
              	<h4 class="text-center">
              		Reviews about Latest Hollywood Movies and Tv Shows 
              	</h4>
              	<br>
              	<a class="btn btn-success text-center" ui-sref="movies"> Let's Go </a>
              </div>
            </div>
          </div>
          </div>
          </div>
