

<div class="jumbotron" id="home-header">
		<h3 class="container">Top Hollywood Movies</h3>
	</div>


<div class="container">
  <div class="row">
  <div ng-repeat="data in arr">
  <div class="col-md-4">
    <div class="thumbnail">
      <img ng-src="{{data.img}}" alt="...">
      <br>
      <div class="caption">
        <h3 class="text-center">{{data.name}}</h3>
        
        <p class="text-center">{{data.genres}}</p>
        <br>
        <p class="text-justify">{{data.desc}}</p>
        <br>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">learn More</a> </p>
      </div>
    </div>
  </div>	
  </div>
 </div>
 </div>

